<%- include("partials/header") -%>
<br />
<hr />
<h1 style="font-size: 40px">Posts</h1>
<hr />
<form action="/delete" method="post">
  <div class="post-container">
    <div class="wrapper">
      <section class="post">
        <header>   <%= postTitle %></header>
        <p><%= postContent  %>
         
        <div class="row">
          <div class="col-md-12 text-center">
            <button
              class="btn btn-danger"
              type="submit"
              value="<%=postId %>"
              class="btn btn-danger mt-3"
              name="postId">
              Delete
            </button>
          </div>
        </div>
      </form>
      </section>
    </div>
  </div>
</form>
<%- include("partials/footer") -%>
